*{
    margin:0;
    padding: 0;
}
html{
    font-size:100%;
}
a{
    text-decoration: none;
}
html{font-size:100%;}
body{
    font-size:1em;
    font-family: "微软雅黑";
}
.response-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
ul{
    list-style: none;
}
.fd:after{
    clear:both;
    content:'';
    display:block;
    width:0;
    height:0;
    visibility:hidden;
}
#header{
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    background:#fff;
    z-index: 999999999999999999;
    border-bottom: 1px solid #eeeeee;
    opacity: 0.8;
}
.headBox{
    width: 108.81em;
    height:auto;
    margin: 0 auto;
    overflow: hidden;
}
.headLogo{
    float: left;
}
.headLogo a{
    display: block;
}
.headNav{
    float: right;
    height: auto;

}
.headNav a{
    color: black;
    display: block;
}
.headNav a:hover{
    color:red;
    transform: translateY(-70px);
    transition: 1s;
    border-bottom: 1px solid red;
}
.headNav ul{
    width: auto;

}
.headNav ul li{
    float: left;
    height:2.87em;
    margin-left: 2.93em;
    line-height: 4.62em;
}
.headIcon{
    line-height: 4.62em;
    float:right;
}
.headIcon a{
    color: #e21919;
    font-size:0.875em ;

}
.headIcon a.yong{
    margin-left: 3.125em;
}
/*
head结束*/

/*bannner开始*/
#banner{
    background: url("../img/new_bg.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 22em;
    margin-top: 5em;
}
/*banner结束*/

/*content开始*/
.contentNew{
    width:60%;
    margin:0 auto;
    margin-top:5em;
    border-bottom: 4px grey solid;
    padding-bottom: 1em;
}
.contentNew h1{
    font-size: 3em;
    color:cadetblue;
}
.contentNew a{
    color:#000000;
}
.contentTxt{
    width: 100%;
    height:60em
}
.contentTxt1{
    width: 60%;
    margin:0 auto;
    height: 60em;
}
.contentTxt1 ul{
    width: 100%;
    height:60em
}
.contentTxt1 ul li{
    width: 47%;
    border-bottom: 1px solid silver;
    height: 20em;
    float: left;
    padding-right: 1.8em;
}
.contentTxtleft{
    float: left;
    background:url("../img/time.svg") no-repeat 0 center;
    color:#969696;
    margin-top:2.5em;
    padding-left: 1.5em;
    height:1.25em;
    line-height: 1.25em;
}

.contentTxtr{
    width: 80%;
    float: right;
    margin-top:2.5em;
}
.contentTxtr h1 a{
    color:black;
}
.contentTxtr h1 a:hover{
    color:red;
}
.contentTxtr h1{
    line-height: 1.2em;
    margin-bottom:0.7em;
    height:2.4em;
    overflow: hidden;
    font-weight: normal;
}
.contentTxtr p{
    line-height: 1.5em;
}
.contentList{
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
}
.contentList ul{
    float: right;
}
.contentList li{
    float: left;
    background: darkgray;
    padding: 0.5em 2em;
    margin-right: 1em;
    color: white;
    cursor: pointer;
}
.contentList li a{
    color: white;
}
.contentList li:nth-child(2){
    background:cadetblue;
}


/*footer开始*/

#footer{
    width: 100%;
    margin-top: 10em;
}
.footerService{
    width: 100%;
    margin: 0 auto;
    height: 10em;
    background: #475761;
}
.footerService1{
    width: 60%;
    height: 10em;
    text-align: center;
    padding-top: 2em;
    margin:0 auto;

}
.footIcon,.footIcon2,.footIcon3,.footIcon4{
    width: 24%;
    font-weight:700;
    padding-top: 3em;
    border: 1px solid #475761;

    float: left;
}
.footIcon,.footIcon2,.footIcon3,.footIcon4 p{
    color: white;
    font-weight: lighter;
}
.footIcon{
    background: url("../img/foot-icon01.png") no-repeat top center;
}
.footIcon2{
    background: url("../img/foot-icon02.png") no-repeat top center;
}
.footIcon3{
    background: url("../img/foot-icon03.png") no-repeat top center;
}
.footIcon4{
    background: url("../img/foot-icon04.png") no-repeat top center;
}
.footerCon{
    width: 60%;
    height: 15em;
    margin:0 auto;

}
.footerNum{
    width: 45%;
    border-right: 1px solid #eee;
    margin-top: 2em;
    float: left;
    margin-right: 3em;
}
.footerNum ul li{
    height: 2em;
    line-height: 2em;
    text-indent: 3em;
    margin-bottom: 1em;
    font-size: 1.1em;
}
.footerNum1{
    background: url("../img/foot-icon06.png") no-repeat left center;
}
.footerNum2{
    background: url("../img/foot-icon07.png") no-repeat left center;
}
.footerNum3{
    background: url("../img/foot-icon08.png") no-repeat left center;
}
.footerNum4{
    background: url("../img/foot-icon09.png") no-repeat left center;
}
.aboutLink{
    width: 100%;
    background:black;
}
.link{
    width:60%;
    margin: 0 auto;
    height: 13em;
}
.linkTit{
    width:4em;
    color:white;
    margin:1em 7em 0 0;
    float: left;
}

.link a{
    color:silver;
    margin:1em 2em 0 0;
    display: block;
    width: 9em;
    height: 30px;float: left;
    text-align: left;
}
.copyRight{
    width:60%;
    border-top: 1px solid #e8e8e8;
    color: #999;
    padding: 1.3em 0;
    margin:2em auto;
}
.copyRights{
    width: 60%;
    float: left;
    text-align: center;
}
.copyRight .h2{
    font-size: 1.5em;
    color:#bbb;
    font-weight: 700;
}
.copyImg{
    float: left;
    margin-right: 6em;
}

/*
copyright结束*/






/*bar开始*/
#bar{
    position: fixed;
    width: 5em;
    top:25%;
    left:0;
}
.barList{
    width: 100%;
    height: 5em;
    background: black;
    border-bottom: 1px solid white;
    margin-bottom: 0.1em;
}
.barList a{
    display: block;
    background: url("../img/bar-icon01.png") no-repeat center 0.5em;
    width: 5em;
    height: 5em;
    color:white;
    text-align: center;
}
.barList2 a{
    background: url("../img/bar-icon02.png") no-repeat center 0.5em;
}
.barList3 a{
    background: url("../img/bar-icon03.png") no-repeat center 0.5em;
}
.barList4 a{
    background: url("../img/bar-icon05.png") no-repeat center 0.5em;
}
.barList5 a{
    background: url("../img/bar-icon06.png") no-repeat center;
}


/*
1.html*/
/*
1.html*/
/*
1.html*/
.contentNew-tit{
    margin-top: 2em;
    font-size: 1.5em;
}
.contentNew-con{
    width: 60%;
    margin: 0 auto;
}
.contentNew-data{

    font-size: 1em;
    color: #bbbbbb;
}
.news-ar-txt{
    padding:2em 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-top:2em;
    line-height: 2em;
    color: black;
}
.news-ar-txt p{
    margin-bottom: 1em;
}
.news-ar-txt-img{
    text-align: center;
}
.news-ar-txt a{
    color: black;
}
.share{
    float: right;
    margin-top: 2em;
}
